.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(185, 185, 185, 0.477);
  }

  .table {
    background-color: #111;

    .tableRow {
      & td,
      & th {
        border-bottom: 1px solid gray;
      }
    }
    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
  }
}
